{{ partial "head.html" . }}
  <body data-page="article">
{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseURL }}
{{ $categories := .Params.categories }}
{{ $tags := .Params.tags }}
{{ $parent := (print $baseurl .Params.parent) }}
{{ $prev := (print $baseurl .Params.prev) }}
{{ $next := (print $baseurl .Params.next) }}

    <div class="article">
      <section class="outer-container">
        <div class="row">
            <div class="sixteen columns">
                <article class="li-article">
                {{ range where .Site.Pages "Permalink" $parent }}
                  <p>
                    <a href="{{ .Permalink }}">⇡ {{ .Title }}</a>
                  </p>
                {{ end }}
                    <header class="li-article-header">
                        <h1 class="li-article-title">{{ .Title }}</h1>
                    </header>
                    <section>
                      {{ if eq (len .Content) 0 }}
                        <ul class="li-article-list">
                        {{ range .Data.Pages }}
                          <li>
                            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                         </li>
                        {{ end }}
                      {{ end }}

                      {{ .Content }}

                    </section>
                </article>

        </div>
      </section>
    </div>

{{ partial "footer.html" . }}
{{ partial "tail.html" . }}
