{{ partial "head.html" . }}
  <body data-page="article">
{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseURL }}
{{ $categories := .Params.categories }}
{{ $tags := .Params.tags }}
{{ $parent := (print $baseurl .Params.parent) }}
{{ $prev := (print $baseurl .Params.prev) }}
{{ $next := (print $baseurl .Params.next) }}

    <div class="article">
      <section class="outer-container">
        <div class="row">
            <div class="sixteen columns">
                <article class="li-article">
                {{ range where .Site.Pages "Permalink" $parent }}
                  <p>
                    <a href="{{ .Permalink }}">⇡ {{ .Title }}</a>
                  </p>
                {{ end }}
                    <header class="li-article-header">
                        <h1 class="li-article-title">{{ .Title }}</h1>
                        <span class="li-article-taxonomies">
                            {{ with $categories }}
                                Posted in
                                {{ range $categories }}
                                    <a href="{{ $baseurl }}/categories/{{ . | urlize }}">{{ . }}</a>
                                {{ end }}
                            {{ end }}

                            {{ with $tags }}
                                with tags
                                {{ range $tags }}
                                    <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
                                {{ end }}
                            {{ end }}
                        </span>
                        {{ if or $categories $tags }} - {{ end }}
                        {{ if eq .Type "blog" }}
                        <time class="li-article-date">{{ .Date.Format "Monday, January 2, 2006" }}</time>
                        {{ end }}
                    </header>
                    <section>
                        {{ .Content }}
                    </section>
                </article>

        </div>
      </section>
    </div>
    {{ if or .Params.prev .Params.next }}
    <div class="row li-pagination article">
      <div class="eight columns">
        <div class="li-pagination-previous">
          &nbsp;
          {{ range where .Site.Pages "Permalink" $prev }}
          Previous<br />
          &nbsp;
          <a href="{{.Permalink}}"> {{.Title}}</a>
          {{end}}
        </div>
      </div>
      <div class="eight columns">
        <div class="li-pagination-next">
          &nbsp;
          {{ range where .Site.Pages "Permalink" $next }}
          Next<br />
          &nbsp;
          <a href="{{.Permalink}}"> {{.Title}}</a>
          {{end}}
        </div>
      </div>
    </div>
    {{ end }}


{{ partial "footer.html" . }}
{{ partial "tail.html" . }}
