<div class="header">

  <section data-component="hero">
  <section class="outer-container" style="padding-top: 45px;">
    <div class="hero-content">
      <div class="image">
        <img src="{{.Site.BaseURL}}/img/chip.png">
      </div>
      <div class="description">
        <p>A fully open-sourced, <br>
        Linux-capable, <br>
        System-on-a-Chip
        </p>
        <span>
          <a href="{{.Site.BaseURL}}/about/" class="button button-big button-white">Find out more</a>
        </span>
      </div>
    </div>
  </section>

</section>
</div>
