<div class="header">

  <section data-component="hero">
  <section class="outer-container" style="padding-top: 45px;">
    <div class="hero-content">
      <div class="image">
        <img src="{{.Site.BaseURL}}/img/chip.png">
      </div>
      <div class="description">
        <p><b>Open to the core</b><br>
Enabling open source silicon<br>through collaborative engineering<br>of tools and designs

        </p>
        <span>
          
        </span>
      </div>
    </div>
  </section>

</section>
</div>
