{{ partial "head.html" . }}
{{ partial "header.html" . }}

    <div class="container">
        <div class="row">
            <div class="sixteen columns">
		<h1>Welcome to the lowRISC project!</h1>
		<div class="li-intro">
      <p><b>lowRISC</b> is creating a fully open-sourced, Linux-capable, RISC-V-based
      SoC, that can be used either directly or as the basis for a custom design.
      We aim to complete our SoC design this year. <b><a href="{{.Site.BaseURL }}/about">Find out more</a></b>
      </p>
    </div>
		<div class="li-main-article-list">
		    <h1>Latest news</h1>
		    {{ range first 10 (where .Data.Pages "Type" "blog") }}
		    <div class="li-article">
			    {{ .Render "fullarticle"}}
		    </div>
		    {{ end }}
		</div>
	    </div>
        </div>
    </div>

{{ partial "footer.html" . }}
{{ partial "tail.html" . }}
