{{ partial "head.html" . }}
{{ partial "header.html" . }}

    <div class="container">
        <div class="row">
            <div class="sixteen columns">
              <br/>
                    <section>
                        

<p>lowRISC is producing fully open hardware systems. From the processor core
  to the development board, our goal is to create a completely open computing
  eco-system.</p>

<p>Our open-source SoC (System-on-a-Chip)
  designs will be based on the 64-bit <a href="http://riscv.org/">RISC-V</a> instruction
  set architecture. Volume silicon manufacture is planned
  as is a low-cost development board. There are more details on our plans in
    <a href="https://speakerdeck.com/asb/lowrisc-the-path-to-an-open-source-soc">these slides from a recent
    talk</a></p>

<p>lowRISC is a not-for-profit organisation working closely with the University
  of Cambridge and the open-source community.</p>

<p>To keep track of the project, follow <a href="https://twitter.com/lowRISC">@lowRISC</a> or join our
  announcements list by entering your email below:</p>

<p><form class="subscribe-form" action="http://subscribe.lowrisc.org/subscribe" method="post">
    <input name="email" type="email" placeholder="Enter your email address" required>
    <button type="submit" class="subscribe-button">Submit</button>
  </form></p>

<p>If you want to get in touch, please email info@lowrisc.org</p>

<h3>Recent milestones</h3>
<p><b>May 2015:</b> This summer we have <a 
  href="http://www.lowrisc.org/blog/2015/05/summer-of-code-students-for-lowrisc/">six 
  students working on Summer of Code projects</a>. The coding period is from 
the end of May to the end of August.</p>
<p><b>Apr 2015:</b> We have shared our first <a 
  href="http://www.lowrisc.org/blog/2015/04/lowrisc-tagged-memory-preview-release/">lowRISC 
  preview release</a>, demonstrating support for tagged memory as described in 
<a href="http://www.lowrisc.org/docs/memo-2014-001-tagged-memory-and-minion-cores"/>our 
  memo</a>. This FPGA-compatible code release is accompanied by an <a 
  href="http://www.lowrisc.org/docs/tutorial/">extensive tutorial</a>.</p>
<p><b>Mar 2015:</b> We are excited to announce we are taking part in the <a 
  href="https://developers.google.com/open-source/soc/">Google Summer of Code</a> 2015.
See our <a href="http://www.lowrisc.org/docs/gsoc-2015-ideas/">ideas list</a> 
for a wide range of projects in different languages and covering pretty much 
every level of the hardware/software stack.
</p>
<p><b>Dec 2014:</b> We have now released a document describing our plans for 
<a href="http://www.lowrisc.org/docs/memo-2014-001-tagged-memory-and-minion-cores/">tagged 
memory and minion cores in the lowRISC SoC</a>.</p>


<h3>The Team (founders)</h3>

<ul>
<li>Robert Mullins - Computer Laboratory, University of Cambridge, co-founder of Raspberry Pi</li>
<li>Gavin Ferris - Dreamworks, Radioscape (co-founder), Aspect Capital (former CIO)</li>
<li>Alex Bradbury - Computer Laboratory, University of Cambridge and Raspberry Pi</li>
</ul>

<h3>Technical Advisory Board</h3>

<ul>
<li><a href="http://www.eecs.berkeley.edu/~krste/">Krste Asanovic (UC Berkeley)</a></li>
<li><a href="http://juliusbaxter.net">Julius Baxter (OpenRISC)</a></li>
<li><a href="http://en.wikipedia.org/wiki/Andrew_Huang">Bunnie Huang (Hacker)</a></li>
<li><a href="http://www.linkedin.com/pub/dominic-rizzo/28/3a6/b35">Dominic Rizzo (Google)</a></li>
<li><a href="http://cseweb.ucsd.edu/~mbtaylor/">Michael Taylor (UCSD)</a></li>
</ul>

                    </section>
                <div class="li-main-article-list">
              <h1>Blog</h1>
                    {{ range first 10 (where .Data.Pages "Type" "blog") }}
                        <div class="li-article">
                            {{ .Render "fullarticle"}}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

{{ partial "footer.html" . }}
{{ partial "tail.html" . }}
